# Environments
.env
.venv
env/
webdev/venv/
webdev/portfo/
venv/
ENV/
env.bak/
venv.bak/
.jawad
machine_learning/smart_brain/mobilenet_v2.h5
machine_learning/smart_brain/resnet50_imagenet_tf.2.0.h5
machine_learning/housing_loan/*.csv
machine_learning/housing_loan/loan_data.csv
machine_learning/**/*.csv
machine_learning/*.csv
machine_learning/*.joblib
machine_learning/.ipynb_checkpoints